bottle==0.12.25
certifi
charset-normalizer==3.1.0
colorama==0.4.6
gevent==22.10.2
greenlet==2.0.2
idna==3.4
lxml==4.9.2
pptree==3.1
prettyprint==0.1.5
PrettyPrintTree==1.36.2
requests==2.31.0
urllib3==2.0.3
zope.event==4.6
zope.interface==6.0
